@mixin require-sapn {
  span {
    background-color: #E93F36;
    color: #fff;
    font-size: 12px;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align:top;
    font-weight: 600;
  }
}

@mixin form-select {
  .form-select {
    margin: 8px 0 0;
    position: relative;
    .icon-angle-down {
      position: absolute;
      right: 16px;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 28px;
      -webkit-transform: translate(0, -50%);
    }
    select {
      width: 100%;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
    }
  }
}

@mixin question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

@mixin label {
  label {
    font-weight: 600;
  }
}