@mixin pagination-a_tag {
  a {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
  }
  a:hover {
    background: whitesmoke;
  }
}