<nav class="bread-crumbs l-container">
  <ul class="container">
    <li>
      <a href="">
        <span>メルカリ</span>
      </a>
      <%= fa_icon 'chevron-right' %>
    </li>
    <li>
      <span class="page_now">マイページ</span>
    </li>
  </ul>
</nav>