<section class="mypage-main__user">
  <a href="" class="mystore-link">
    <figure class="mystore-link__image">
      <img src="/assets/member_photo_noimage_thumb.png" alt="" class="mystore-link__image_icon">
    </figure>
    <h2 class="mystore-link__name">ユーザー名</h2>
    <div class="mystore-link__count">
      <span>評価 0</span>
      <span>出品数 0</span>
    </div>
  </a>
</section>