%section.mypage-main__header
  %a.mystore-link{href: ""}
    %figure.mystore-link__image
      = image_tag "member_photo_noimage_thumb.png",class:"mystore-link__image_icon", alt: ""
    %h2.mystore-link__name ユーザー名
    .mystore-link__count
      %span 評価 
      %span 0
      %span 出品数
      %span 0