%section.mypage-main__header
  %a.mystore-link{href: ""}
    %figure.mystore-link__image
      %img.mystore-link__image_icon{alt: "", src: "/assets/member_photo_noimage_thumb.png"}
    %h2.mystore-link__name ユーザー名
    .mystore-link__count
      %span 評価 0
      %span 出品数 0