<ul class="tab__lists__notices show">
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>事務所からの個別メッセージ</p>
        <span class="notice__link-message__passed"><i class="far fa-clock"></i> 1日前</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>事務所からの個別メッセージ</p>
        <span class="notice__link-message__passed"><i class="far fa-clock"></i> 2日前</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>事務所からの個別メッセージ</p>
        <span class="notice__link-message__passed"><i class="far fa-clock"></i> 3日前</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>事務所からの個別メッセージ</p>
        <span class="notice__link-message__passed"><i class="far fa-clock"></i> 4日前</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="go-notice-lists">
    <a href="" class="go-notice-lists__link">一覧を見る</a>
  </li>
</ul>
