<%# <ul class="notice__none">
  <li>現在、やることリストはありません</li>
</ul> %>

<ul>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>まゆたさんから「商品名」の取引メッセージがあります。返信をお願いします</p>
        <span class="notice__link-message__passed"><i class="far fa-clock"></i> 1時間前</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>まゆたさんが「商品名」を購入しました。内容確認の上、発送をお願いします。</p>
        <span class="notice__link-message__passed"><i class="far fa-clock"></i> 2時間前</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>まゆたさんが「商品名」を購入しました。内容確認の上、発送をお願いします。</p>
        <span class="notice__link-message__passed"><i class="far fa-clock"></i> 2時間前</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>まゆたさんが「商品名」を購入しました。内容確認の上、発送をお願いします。</p>
        <span class="notice__link-message__passed"><i class="far fa-clock"></i> 2時間前</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
    <li class="go-notice-lists">
    <a href="" class="go-notice-lists__link">一覧を見る</a>
  </li>
</ul>