<!-- <ul class="notice__none">
  <li>現在、過去の取引はありません</li>
</ul> -->
<ul> 
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>「商品名」を購入しました。取引が完了しました</p>
        <span class="notice__link-message__tag gray">取引完了</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>「商品名」を購入しました。取引が完了しました</p>
        <span class="notice__link-message__tag gray">取引完了</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>「商品名」を購入しました。取引が完了しました</p>
        <span class="notice__link-message__tag gray">取引完了</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>「商品名」を購入しました。取引が完了しました</p>
        <span class="notice__link-message__tag gray">取引完了</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="go-notice-lists">
      <a href="" class="go-notice-lists__link">一覧を見る</a>
  </li>
</ul>