<%# <ul class="notice__none show">
  <li>取引中の商品がありません</li>
</ul> %>

<ul class="show">  
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>「商品名」を購入しました。発送をお待ちください</p>
        <span class="notice__link-message__tag blue">発送待ち</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>「商品名」の支払いをしてください。</p>
        <span class="notice__link-message__tag red">支払い待ち</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>「商品名」の取引が完了しました。受取評価をしてください。</p>
        <span class="notice__link-message__tag red">受取評価待ち</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="notice">
    <a href="" class="notice__link clearfix" >
      <img src="/assets/mercari_profile_icon.png" alt="" class="notice__link_img" >
      <div class="notice__link-message">
        <p>「商品名」の取引が完了しました。受取評価をしてください。</p>
        <span class="notice__link-message__tag red">受取評価待ち</span>
      </div>
      <%= fa_icon 'chevron-right', class:"mypage-notice_arrow_right" %>
    </a>
  </li>
  <li class="go-notice-lists">
    <a href="" class="go-notice-lists__link">一覧を見る</a>
  </li>
</ul>