/
  <ul class="notice__none">
  <li>現在、過去の取引はありません</li>
  </ul>
%ul
  %li.notice
    %a.notice__link.clearfix{:href => ""}
      %img.notice__link_img{:alt => "", :src => "/assets/mercari_profile_icon.png"}/
      .notice__link-message
        %p 「商品名」を購入しました。取引が完了しました
        %span.notice__link-message__tag.gray 取引完了
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    %a.notice__link.clearfix{:href => ""}
      %img.notice__link_img{:alt => "", :src => "/assets/mercari_profile_icon.png"}/
      .notice__link-message
        %p 「商品名」を購入しました。取引が完了しました
        %span.notice__link-message__tag.gray 取引完了
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %a.notice__link.clearfix{:href => ""}
    %img.notice__link_img{:alt => "", :src => "/assets/mercari_profile_icon.png"}/
    .notice__link-message
      %p 「商品名」を購入しました。取引が完了しました
      %span.notice__link-message__tag.gray 取引完了
    = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %a.notice__link.clearfix{:href => ""}
    %img.notice__link_img{:alt => "", :src => "/assets/mercari_profile_icon.png"}/
    .notice__link-message
      %p 「商品名」を購入しました。取引が完了しました
      %span.notice__link-message__tag.gray 取引完了
    = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.go-notice-lists
    %a.go-notice-lists__link{:href => ""} 一覧を見る
