%ul.show
  %li.notice
    %a.notice__link.clearfix{:href => ""}
      %img.notice__link_img{:alt => "", :src => "/assets/mercari_profile_icon.png"}/
      .notice__link-message
        %p 「商品名」を購入しました。発送をお待ちください
        %span.notice__link-message__tag.blue 発送待ち
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    %a.notice__link.clearfix{:href => ""}
      %img.notice__link_img{:alt => "", :src => "/assets/mercari_profile_icon.png"}/
      .notice__link-message
        %p 「商品名」の支払いをしてください。
        %span.notice__link-message__tag.red 支払い待ち
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    %a.notice__link.clearfix{:href => ""}
      %img.notice__link_img{:alt => "", :src => "/assets/mercari_profile_icon.png"}/
      .notice__link-message
        %p 「商品名」の取引が完了しました。受取評価をしてください。
        %span.notice__link-message__tag.red 受取評価待ち
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    %a.notice__link.clearfix{:href => ""}
      %img.notice__link_img{:alt => "", :src => "/assets/mercari_profile_icon.png"}/
      .notice__link-message
        %p 「商品名」の取引が完了しました。受取評価をしてください。
        %span.notice__link-message__tag.red 受取評価待ち
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.go-notice-lists
    %a.go-notice-lists__link{:href => ""} 一覧を見る
