.sub-footer
  .nav
    %ul
      %li
        %a{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
      %li
        %a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
      %li
        %a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
  %a{ href: "https://www.mercari.com/jp/", class: 'footer-link'}
    %object{type: "image/svg+xml", data: "/assets/logo-gray.svg", width:"80", height:"65", class:"footer-logo"}
      %img{alt: "mercari", src: "assets/gray-logo.png"}
  %p
    %small
    © 2019 Mercari