.rgs-body
  .logo-header
    %h1
      %a{ href: "https://www.mercari.com/jp/", class: "header-link"}
        %object{type: "image/svg+xml", data: "/assets/logo.svg", width:"185", height:"49", class:"header-logo"}
          %img{alt: "mercari", src: "assets/mercari.png"}/
  .rgs-main
    .rgs-main__section
      %h2 新規会員登録
      .form
        .btn-email
          = fa_icon 'envelope'
          %a{ href: 'https://www.mercari.com/jp/help_center/article/423/', class:'about__registered'} メールアドレスで登録する
        .btn-facebook
          = fa_icon 'facebook'
          %a{ href: 'https://www.mercari.com/jp/help_center/article/423/', class:'about__registered'} facebookで登録する
        .btn-google
          %a{ href: 'https://www.mercari.com/jp/help_center/article/423/', class:'about__registered'} googleで登録する
  =render "sub-footer"