.body
  =render "rgs-header"
  .main
    .main__section
      %h2 発送元・お届け先住所入力
      .form
        .form__upper
          .form__upper__group
            %label お名前
            %span.form-require 必須
            %input.password{ name: 'password', placeholder: '例）山田', class: 'input-default'}
            %input.password{ name: 'password', placeholder: '例）彩', class: 'input-default'}
          .form__upper__group
            %label お名前カナ
            %span.form-require 必須
            %input.password{ name: 'password', placeholder: '例）ヤマダ', class: 'input-default'}
            %input.password{ name: 'password', placeholder: '例）アヤ', class: 'input-default'}
          .form__upper__group
            %label 郵便番号
            %span.form-require 必須
            %input.password{ name: 'password', placeholder: '7文字以上', class: 'input-default'}
          .form__upper__group
            %label 都道府県
            %span.form-require 必須
            %input.password{ name: 'password', placeholder: '7文字以上', class: 'input-default'}
          .form__upper__group
            %label 市区町村
            %span.form-require 必須
            %input.password{ name: 'password', placeholder: '7文字以上', class: 'input-default'}
          .form__upper__group
            %label 番地
            %span.form-require 必須
            %input.password{ name: 'password', placeholder: '7文字以上', class: 'input-default'}
          .form__upper__group
            %label 建物名
            %span.form-require-optional 任意
            %input.password{ name: 'password', placeholder: '7文字以上', class: 'input-default'}
          .form__upper__group
            %label 電話
            %span.form-require-optional 任意
            %input.password{ name: 'password', placeholder: '7文字以上', class: 'input-default'}
        .form__bottom
          .form__upper__group
            %p
          .form__upper__group
            %button.btn-default{type: "submit"} 次へ進む
  =render "rgs-footer"