.rgs-body
  =render "rgs-header"
  .rgs-main
    .rgs-main__section
      %h2 電話番号の確認
      = form_for @user, url: step4_registrations_path, method: :get, html: { class: 'form' } do |f|
        .form__upper
          .form__upper__group
            %label 携帯電話の番号
            = f.text_field :phone_number, placeholder: '例:電話番号', class: 'input-default'
            %input.nickname{ type: 'text', name: 'nickname', placeholder: '携帯電話の番号を入力', class: 'input-default' }
            %p.attention 本人確認のため、携帯電話のSMS(ショートメッセ
            ージサービス)を利用して認証を行います。
          
          .form__upper__group
            %button.btn-default{type: "submit"} SMSを送信する
            %p.attention ※電話番号は本人確認や不正利用防止のために利用
            します。他のユーザーに公開されることはありません。
          .form__upper__group
            %p.about
              = link_to '電話番号の確認が必要な理由', root_path, class:'registance'
              = fa_icon 'chevron-right'
              %span<>
  =render "sub-footer"