.menu-left__item
  = fa_icon 'tag lg',class:'menu-left__item--icon'
  ブランドから探す
  %ul.brand
    - @brands.each do |brand|
      %li.brand__item
        %h3 
          = link_to brand.name, brand_path(brand)
