%aside
  = image_tag 'mercari-aside.png', alt: 'aside-image'
%footer.main-footer
  %nav.main-footer__container   
    .left-item 
      %h2 メルカリについて
      %ul 
        %li
          %a(href="") 会社概要（運営会社）
        %li
          %a(href="") 採用情報
        %li
          %a(href="") プレスリリース
        %li
          %a(href="") 公式ブログ
        %li
          %a(href="") メルカリロゴ利用ガイドライン
        %li.icon
          %i.fab.fa-twitter
          %i.fab.fa-facebook-square
    .left-item 
      %h2 ヘルプ＆ガイド
      %ul 
        %li
          %a(href="") メルカリガイド
        %li 
          %a(href="") らくらくメルカリ便
        %li
          %a(href="") ゆうゆうメルカリ便
        %li
          %a(href="") 大型メルカリ便
        %li
          %a(href="") 車体取引ガイド
        %li
          %a(href="") メルカリあんしん・あんぜん宣言！
        %li
          %a(href="") 偽ブランド品撲滅への取り組み
        %li
          %a(href="") メルカリボックス
      
    .middle-items
      %h2 プライバシーと利用規約
      .middle-item
        %ul     
          %li
            %a(href="") プライバシーポリシー
          %li
            %a(href="") メルカリ利用規約
          %li 
            %a(href="") あんしんスマホサイト制度に関する利用特約
          %li
            %a(href="") コンプライアンスポリシー
      .middle-item
        %ul
          %li
            %a(href="") 個人データの安全管理に係る基本方針
          %li
            %a(href="") 特定商取引に関する表記
          %li
            %a(href="") 資金決済法に基づく表示
          %li
            %a(href="") 法令順守と犯罪抑止のために
    .right-item
      %h2 国
      %ul
        %li
          %a(href="") 日本
        %li
          %a(href="") United States
  .main-footer__bottom
    = image_tag 'footer-logo.svg', alt: 'footer-logo'
    .copyright
      %span © 2019 Mercari