%aside
  = image_tag 'mercari-aside.png', alt: 'aside-image'
%footer.footer-wrapper
  %nav.footer-container   
    .left-item 
      %h2 メルカリについて
      %ul 
        %li.left-item__cell 会社概要（運営会社）
        %li.left-item__cell 採用情報
        %li.left-item__cell プレスリリース
        %li.left-item__cell 公式ブログ
        %li.left-item__cell メルカリロゴ利用ガイドライン
        %li.icon 
          = fa_icon 'twitter 3x', class: 'icon__twitter'
          = fa_icon 'facebook-square 3x', class: 'icon__facebook'
    .left-item 
      %h2 ヘルプ＆ガイド
      %ul 
        %li.left-item__cell メルカリガイド
        %li.left-item__cell らくらくメルカリ便
        %li.left-item__cell ゆうゆうメルカリ便
        %li.left-item__cell 大型メルカリ便
        %li.left-item__cell 車体取引ガイド
        %li.left-item__cell メルカリあんしん・あんぜん宣言！
        %li.left-item__cell 偽ブランド品撲滅への取り組み
        %li.left-item__cell メルカリボックス
      
    .middle-items
      %h2 プライバシーと利用規約
      .middle-item
        %ul     
          %li.middle-item__cell プライバシーポリシー
          %li.middle-item__cell メルカリ利用規約
          %li.middle-item__cell.long あんしんスマホサイト制度に関する利用特約
          %li.middle-item__cell コンプライアンスポリシー
      .middle-item
        %ul
          %li.middle-item__cell 個人データの安全管理に係る基本方針
          %li.middle-item__cell 特定商取引に関する表記
          %li.middle-item__cell 資金決済法に基づく表示
          %li.middle-item__cell 法令順守と犯罪抑止のために
    .right-item
      %h2 国
      %ul
        %li.right-item__cell 日本　 
        %li.right-item__cell United States
  .footer-bottom
    = image_tag 'footer-logo.svg', alt: 'footer-logo'
    .copyright
      %span © 2019 Mercari