.category-wrap {
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
  padding: 0px;
  @media (min-width: 768px) {
    max-width: 700px;
    padding: 0px;
  }
  @media (min-width: 1068px) {
    max-width: 1020px;
  }
  .container {
    position: relative;
    h1.head {
      margin: 24px 0 8px 0;
      font-size: 24px;
      line-height: 1.4;
      font-weight: 600;
    }
    .category-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 6px 6px;
      @media (min-width: 768px) {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px 20px;
      }
      .category-item {
        height: 100%;
        width: 100%;
        cursor: pointer;
        .product-box {
          position: relative;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          &__top {
            &__image {
              bottom: 0;
              position: relative;
              top: 0;
              .product-image {
              }
              .soldout{
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 100px 100px 0 0;
                border-color: #ea362d transparent transparent transparent;
                &_text{
                  position: relative;
                  p{
                    position: absolute;
                    bottom: 55px;
                    right: -68px;
                    font-size: 22px;
                    // font-weight: bold;
                    letter-spacing: 1px;
                    color: #fff;
                    z-index: 2;
                    transform: rotate(-45deg);
                  }
                }
              }
              .product-price {
                color: $white;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 0 14px 14px 0;
                position: absolute;
                bottom: 8px;
                height: 28px;
                padding: 0 12px;
                letter-spacing: .02em;
                margin: 0;
                z-index: 2;
                font-size: 17px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
            }
          }
          &__description {
            background-color: #ffffff;
            box-sizing: border-box;
            color: #222;
            font-size: 14px;
            height: 64px;
            line-height: 1.4em;
            padding: 0 12px;
            white-space: normal;
            word-break: break-word;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
          }
        }
      }
    }
  }
  .category-pagination {
    margin: 40px 0;
  }
}