.mypage-main{
  width: 700px;
  float: left;
  &__user{
    height: 200px;
    padding: 20px;
    background: url(/assets/user-bg.jpg);
    position: relative;
    .mystore-link{
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      text-decoration: none;
      &:hover{
        opacity: 0.7;
      }
      &__image{
        text-align: center;
        margin: 0 auto;
        &_icon{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
      &__name{
        font-weight: bold;
        font-size: 14px;
        text-align: center;
      }
      &__count{
        font-size: 14px;
        text-align: center;
        span:last-child{
          margin: 0 0 0 16px;
        }
      }
    }
  }
  .mypage-tabs-box{
    width: 700px;
    .mypage-tabs__title{
      font-size: 16px;
      font-weight: 600;
      line-height: 72px;
      background: #FAFAFA;
      color: #333333;
      padding: 0 16px;
    }
    .mypage__tabs{
      letter-spacing: -4em;
      background: #EEEEEE;
      &_tab{
        display: inline-block;
        width: 50%;
        height: 74px;
        letter-spacing: 0em;
        line-height: 72px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        cursor: pointer;
        &.active{
          background: #fff;
          border-top: solid 2px #EB615B;
          border-collapse: separate;
          border-spacing: 0;
          box-sizing: content-box;
        }
      }
    }
    .mypage_tab_content{
      margin: 40px 0 0;
      height: 300px;
      .mypage_tab_trade{
        height: 300px;
        background: #fff;
      }
    }
  }
}