.mypage-side{
  width: 280px;
  height: 100vh;
  margin-right: 40px;
  float: left;
  &__nav_lists{
    .nav-list{
      padding: 16px;
      background: #fff;
      position: relative;
      cursor: pointer;
      &::after{
        position: absolute;
        top: 40%;
        right: 13px;
        content: '';
        width: 8px;
        height: 8px;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        -webkit-transform: rotate( -50%);
        -webkit-transform: rotate( -50%);
        transform: rotate(45deg);
        transition: all .2s;
      }
      &:hover::after {// ホバーしたら矢印(::after)動く
        right: 9px;// デフォルト位置より4px分右に動く
        border-color: black;// デフォルトの灰色から黒色へ変化させる
      }
      &__link{
        text-decoration: none;
        color: #333333;
        font-size: 14px;
        &_arrow{
          float: right;
          font-weight: normal;
          color: #CCCCCC;
        }
      }
      &:hover{
        background: #fafafa;
      }
      &.active{
        background: #EEEEEE;
        font-weight: normal;
        &::after{
          border-top: 2px solid #333333;
          border-right: 2px solid #333333;
        }
        .nav-list{
          &__link{
            text-decoration: none;
            font-weight: bold;
            color: #333333;
            font-size: 14px;
            &_arrow{
              color: #333333;
            }
          }
        }
        &:hover{
          background: #EEEEEE;
        }
      }
    }
  }
  &_head{
    margin-top: 40px;
    font-weight: bold;
  }
}