.new-product {  
  background-color: $background_color;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  @include logo-header();
  @include sub-footer();
  .main {
    width: 700px;
    margin: 0 auto;
    background-color: $white;
    .head {
      padding: 32px 16px;
      text-align: center;
      font-size: 22px;
      line-height: 1.5;
      h2 {
        font-weight: bold;
        color: $black;
      }
    }
    .form {
      border-top: 1px solid $border-top-gray;
      &__image {
        width: 620px;
        padding: 40px;
        &__title {
          font-weight: bold;
          label {
            font-size: 16px;
          } 
          @include require-sapn;
        }
        &__text {
          margin: 8px 0 0;
          line-height: 1.5;
        }
        &__field {
          display: block;
          width: 620px;
          margin: 16px auto 0;
          min-height: 162px;
          .upload-box {
            width: 620px;
            padding: 40px;
            min-height: 162px;
            background: $background_color;
            border: 1px dashed $border-form-gray;
            font-size: 0;
            text-align: center;
            display: table;
            cursor: pointer;
            &__text {
              text-align: center;
              font-size: 14px;
              line-height: 1.5;
              display: table-cell;
              vertical-align: middle;
              font-weight: bold;
            }
            .hidden {
              display: none;
            }
          }
        }
      }
      &__container {
        padding: 40px;
        border-top: 1px solid $border-top-gray;
        &__name {
          font-weight: bold;
          label {
            display: inline-block;
          }
          @include require-sapn;
          .input-space {
            .input-name {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid $border-form-gray;
              background: $white;
              line-height: 1.5;
              font-size: 16px;
              font-weight: 500;
            }
          }

        }
        &__description {
          margin: 40px 0 0;
          font-weight: bold;
          label {
            display: inline-block;
          }
          @include require-sapn;
          .input-description {
            display: block;
            width: 100%;
            max-width: 100%;
            min-height: 142px;
            padding: 10px;
            border: 1px solid $border-form-gray;
            background: $white;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 500;
            margin: 8px 0 0;
          }
        }
      }
      &__details {
        padding: 40px;
        border-top: 1px solid $border-top-gray;
        display: flex;
        h3 {
          color: $h3-text-gray;
          font-size: 14px;
          font-weight: 600;
          margin-right: auto;
        }
        &__form-box {
          width: 400px;
          margin: 0;
          &__category {
            @include label;
            @include require-sapn;
            @include form-select;
          }
          &__condition {
            margin: 40px 0 0;
            @include label;
            @include require-sapn;
            @include form-select;
          }
        }
      }
      &__shipping {
        padding: 40px;
        border-top: 1px solid $border-top-gray;
        display: flex;
        h3 {
          color: $h3-text-gray;
          font-size: 14px;
          font-weight: 600;
        }
        .question {
          @include question;
          margin-right: auto;
        }
        @include question-hover;
        &__form-box {
          width: 400px;
          margin: 0;
          &__fee {
            @include label;
            @include require-sapn;
            @include form-select;
          }
          &__area {
            margin: 40px 0 0;
            @include label;
            @include require-sapn;
            @include form-select;
          }
          &__day {
            margin: 40px 0 0;
            @include label;
            @include require-sapn;
            @include form-select;
          }
        }
      }
      &__price {
        padding: 40px;
        border-top: 1px solid $border-top-gray;
        display: flex;
        h3 {
          color: $h3-text-gray;
          font-size: 14px;
          font-weight: 600;
        }
        .question {
          @include question;
          margin-right: auto;
        }
        @include question-hover;
        &__form-box {
          width: 400px;
          margin: 0;
          &__price {
            padding: 0 0 24px;
            border: 0;
            display: flex;
            line-height: 48px;
            width: 100%;
            label {
              font-weight: 600;
            } 
            .require {
              @include require-sapn;
            } 
            .price-input {
              margin-left: auto;
              display: flex;
              width: 50%;
              &__logo {
                font-size: 12px;
                margin-left: auto;
              }
              .input-price {
                margin: 0 0 0 5%;
                width: 80%;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid $border-form-gray;
                background: $white;
                line-height: 1.5;
                font-size: 16px;
                text-align: right;
              }
            }
            
          }
          &__charge {
            padding: 24px 0;
            border-top: 1px solid $border-form-gray;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          &__profit {
            padding: 24px 0;
            border-top: 1px solid $border-form-gray;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__left {
              font-size: 16px;
            }
            &__right {
              font-size: 26px;
            }
          }
        }
      }
      &__submit {
        padding: 40px;
        border-top: 1px solid $border-top-gray;
        &__description {
          line-height: 1.5;
          p {
            font-size: 14px;
            .description-link {
              color: $blue;
              text-decoration: none;
            }
            .description-link:hover {
              opacity: 0.7;
              text-decoration: underline;
            }
            .description-link:visited {
              color: $blue;
              text-decoration: none;
            }
          }
        }
        .btn-default {
          margin: 40px 0 0;
          background: $red;
          border: 1px solid $red;
          display: block;
          color: $white;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;

        }
        .btn-gray {
          width: 45%;
          margin: 24px auto 0;
          background: $btn-gray;
          border: 1px solid $btn-gray;
          color: $white;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
        }
        .btn-gray:hover {
          background-color: #cccccc;
        }
      }
    }
  }
}