.new-product {  
  background-color: #F5F5F5;
  // font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  
  @include logo-header();
  @include sub-footer();
  .main {
    width: 700px;
    margin: 0 auto;
    background-color: #FFFFFF;
    .head {
      padding: 32px 16px;
      text-align: center;
      font-size: 22px;
      line-height: 1.5;
      h2 {
        font-weight: bold;
        color: #333;
      }
    }
    
      
  
  }
}