.search-container {
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
  padding: 0 0 60px;
  .search-side {
    width: 280px;
    margin: 0 40px 0 0;
    .search-sort {
      width: auto;
      .select-order {
        height: 48px;
        padding: 0 16px;
        border: 1px solid #ccc;
        width: 100%;
      }
    }
    .search-content {
      // position: static;
      // display: block;
      // -webkit-box-shadow: none;
      // box-shadow: none;
      margin: 40px 0 0;
      background-color: $white;
      padding: 16px;
      // 高さ幅は仮置きです
      height: 1000px;
      width:100%;
    }
  }
  .search-main {
    width: 700px;
    .main-container {
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      &__noresult {
        margin: 16px 0 40px;
      }
      &__new-products {
        margin: 0 0 16px;
        font-size: 22px;
        font-weight: 600;
      }
      &__head {
        font-size: 21px;
        margin: 0 0 8px;
        font-weight: 600;
        line-height: 1.4;
        span {
          font-size: 17px;
          font-weight: 400;
        }
      }
      &__result-number {
        margin: 16px 0;
        font-size: 11px;
        color: #888;
        display: flex;
        span {
          margin: 0 2px;
        }
      }
      &__items {
        width: auto;
        margin: 0 auto 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 20px;
        &__item {
          width: 100%;
          cursor: pointer;
          .show-link {
            .product-box {
              margin: 0;
              position: relative;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              &:hover {
                outline: 1px $blue solid;
              }
              .product-box__top {
                &__image {
                  bottom: 0;
                  position: relative;
                  top: 0;
                  .prodyct-image {
  
                  }
                  .product-price {
                    color: $white;
                    position: absolute;
                    bottom: 6px;
                    // top: 136px;
                    height: 22px;
                    padding: 4px 12px 4px 8px;
                    border-radius: 0 16px 16px 0;
                    font-weight: 600;
                    background-color: rgba(0,0,0,0.3);
                    letter-spacing: .02em;
                    margin: 0;
                    z-index: 2;
                    font-size: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  }
                }
              }
              .product-box__description {
                background-color: $white;
                box-sizing: border-box;
                color: #222;
                font-size: 14px;
                height: 58px;
                line-height: 1.4em;
                padding: 0 12px;
                white-space: normal;
                word-break: break-word;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                span {
                  height: 2.8em;
                  overflow: hidden;
                  &::after {
                    background: linear-gradient(90deg,hsla(0,0%,100%,0),$white 72%);
                    bottom: 0;
                    content: "";
                    height: 50%;
                    position: absolute;
                    right: 0;
                    width: 50%;
                  }  
                }
              }
            }
          }
        }
        /* 画面外にいる状態 */
        .fadein {
          opacity : 0;
          transform : translate(0, 0);
          transition : all 500ms;
          }

        /* 画面内に入った状態 */
        .fadein.scrollin {
          opacity : 1;
          transform : translate(0, 0);
        }
      }
      .search-pagination {
        margin: 40px 0 0;
      }
    }
  }
}
