/* ページ全体 */
.img_wapper{
  width: 100%;
  height: 27.12%;
  img {
  height: 100%;
  width: 100%;
  left: 50%;
  }
}
.top-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
  padding: 0px;
  @media (min-width: 768px) {
    max-width: 700px;
    padding: 0px;
  }
  @media (min-width: 1068px) {
    max-width: 1020px;
  }

  /* 商品一覧ページ 基本設定 */

  .top-container {
    position: relative;
    @media (min-width: 768px) {
      .category-items {
        @include items-large();   
      }
      .brand-items {
        @include items-large();  
      }
      .icon {
        width: 60px;
        height: 54px;
        margin-top: 8px;
      }
    }
  }
  /* カテゴリ・ブランド共通設定 */
  .new-items-container {
    @include new-items-container();
  }

  /* 人気のカテゴリ */
  .category-info {
    @include info();
    &__text h2 {
      @include info-text();
    }
    &__tags {
      @include tags();
      .category-tag {
        @include item-tag();
      }
    } 
  }
  .category-title {
    @include section-title();
    h3 {
      font-size: $section-font-size;
    }
  }
  .more {
    @include more();
  }
  .category-items {
    @include items();
    .category-item {
      height: 100%;
      @include item();
      img {
        @include item();
      }
      .show-link {
        width: 100%;
        vertical-align: top;
        .item-box {
          margin: 0;
          position: relative;
          box-shadow: 0 2px 4px rgba(0,0,0,.18);
          &__top {
            &__image {
              bottom: 0;
              position: relative;
              top: 0;
              .product-image {
              }
              .product-price {
                color: $white;
                background: rgba(0,0,0,.4);
                border-radius: 0 14px 14px 0;
                position: absolute;
                bottom: 8px;
                height: 28px;
                padding: 0 12px;
                letter-spacing: .02em;
                margin: 0;
                z-index: 2;
                font-size: 17px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
            }
            
          }
          &__description {
            background-color: $white;
            box-sizing: border-box;
            color: #222;
            font-size: 14px;
            height: 64px;
            line-height: 1.4em;
            padding: 0 12px;
            white-space: normal;
            word-break: break-word;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            span {
              height: 2.8em;
              overflow: hidden;
            }
            span::after {
              background: linear-gradient(90deg,hsla(0,0%,100%,0),$white 72%);
              bottom: 0;
              content: "";
              height: 50%;
              position: absolute;
              right: 0;
              width: 50%;
            }
          }
        }
      }
    }
    .category-item:hover {
      outline: 1px $blue solid;
    }
  }
  
  /* 人気のブランド */
  .brand-info {
    @include info();
    &__text h2 {
      @include info-text();
    }
    &__tags  {
      @include tags();
      .brand-tag {
        @include item-tag();
      }
    } 
  }
  .brand-title {
    @include section-title();
    .more {
      @include more();
    }
  }
  .brand-items {
    @include items();
    .brand-item img {
      @include item();
    }
  }
}







