/* ページ全体 */
.img_wapper{
  width: 100%;
  height: 27.12%;
  img {
  height: 100%;
  width: 100%;
  left: 50%;
  }
}
.top-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0px auto;
  padding: 0px;
  @media (min-width: 768px) {
    max-width: 700px;
    padding: 0px;
  }
  @media (min-width: 1068px) {
    max-width: 1020px;
  }

  /* 商品一覧ページ 基本設定 */

  .top-container {
    position: relative;
    @media (min-width: 768px) {
      .category-items {
        @include items-large();   
      }
      .brand-items {
        @include items-large();  
      }
      .icon {
        width: 60px;
        height: 54px;
        margin-top: 8px;
      }
    }
  }
  /* カテゴリ・ブランド共通設定 */
  .new-items-container-top {
    @include new-items-container-top();
  }

  .new-items-container-middle {
    @include new-items-container-middle();
  }

  .new-items-container-bottom {
    @include new-items-container-bottom();
  }

  /* 人気のカテゴリ */
  .category-info {
    @include info();
    &__text h2 {
      @include info-text();
    }
    &__tags {
      @include tags();
      .category-tag {
        @include item-tag();
      }
    } 
  }
  .category-title {
    @include section-title();
    h3 {
      font-size: $section-font-size;
    }
  }
  .more {
    @include more();
  }
  .category-items {
    @include items();
    .category-item {
      height: 100%;
      &:hover {
        outline: 1px $blue solid;
      }
      @include item();
      img {
        @include item();
      }
      .show-link {
        width: 100%;
        vertical-align: top;
        @include product-box();
      }
    }
  }
  
  /* 人気のブランド */
  .brand-info {
    @include info();
    &__text h2 {
      @include info-text();
    }
    &__tags  {
      @include tags();
      .brand-tag {
        @include item-tag();
      }
    } 
  }
  .brand-title {
    @include section-title();
    .more {
      @include more();
    }
  }
  .brand-items {
    @include items();
    .brand-item {
      height: 100%;
      &:hover {
        outline: 1px $blue solid;
      }
      @include item();
      img {
        @include item();
      }
      .show-link {
        width: 100%;
        vertical-align: top;
        @include product-box();
      }
    }
  }
  /* 画面外にいる状態 */
  .fadein {
  opacity : 0;
  transform : translate(0, 0);
  transition : all 500ms;
  }

/* 画面内に入った状態 */
  .fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
  }
  
  // #ladies_item {
  //   padding-top: 20px;
  //   margin-top: 20px;
  // }
  // #mens_item {
  //   padding-top: 20px;
  //   margin-top: 20px;
  // }
  
}







