body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

address {
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .single-container {
    padding: 0 0 220px;
  
    .single-header {
      height: 128px;
      h1{
        
        margin: 40px 0 0;
      }
      img {
        width: 185px;
        height: 49px;
      }
    }
    .l-single-container {
      width: 700px;
      margin: 0 auto;
      .l-single-head {
        padding: 32px 16px;
        font-size: 22px;
        
      }
    
    }
  }
  .buy-you-pay {
    font-size: 18px;
  }

  
  .single-footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
  }
}
  
.single-container {
  padding: 0 0 250px;
}
.single-header {
  text-align: center;
  h1 {
    display: inline-block;
    margin: 11px 0 12px;
  }
}
.l-single-container{
  background: #fff;
  .l-single-head {
    padding: 16px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  .buy-content:first-of-type {
    margin: 0;
  }
  .buy-content {
    margin: 40px 0 0;
    padding: 24px 12.5% 0;
    border-top: 1px solid #f5f5f5;
  }
  .buy-item > .buy-content-inner {
    display: flex;
    flex-wrap: wrap;
    .buy-item-name {
      width: calc(100% - 80px);
      margin: 0 0 0 16px;
      text-align: left;
      font-size: 16px;
      line-height: 1.5;
    }
    .buy-form {
      width: 100%;
      p {
        margin: 8px 0 0;
        line-height: 1.5; 
      }
    }
    .buy-accordion{
      margin: 16px 0 0;
      .accordion-toggle {
        padding: 16px;
        position: relative;
      }
    }
    .not-have {   
      background: #ccc;
    }
  }
  .buy-item {
    text-align: center;
    img {
      width: 64px;
    }
  }
    .bold {
      font-weight: 600;
    }
    .buy-content-inner {
      max-width: 320px;
      margin: 0 auto;
    }
    .buy-user-info {
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      h3:first-child{
        margin: 0;
      }
      h3 {
        font-size: 14px;
      }
      address {
        display: block;
      }
      .buy-user-info-text {
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
      }
      .buy-user-info-fix {
        display: block;
        text-align: right;
        color: #0099e8;
      }
    }
    
    .btn-red {
      margin: 8px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
    }
    .btn-default {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
  }
  .buy-price-ja {
    margin: 16px 0 0;
    font-size: 22px;
    .item-shipping-fee {
      display: inline-block;
      margin: 0 0 0 8px;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .buy-price-row {
    display: table-row;
    border-top: 1px solid #ccc;
  }
  .buy-price-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
  .buy-you-pay {
    font-size: 16px;
  }
  .buy-price-cell:first-child {
    text-align: left;
  }
  .buy-price-cell {
    display: table-cell;
    padding: 16px 0;
    text-align: right;
    span {
      font-size: 28px;
    } 
  }
  .buy-content:last-of-type {
    padding: 24px 12.5% 40px;
  }
  

.single-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
  }
