= link_to '#',class: "show-link" do
  .product-box
    .product-box__top
      .product-box__top__image
        - product.images.each do |image|
          = image_tag image.name, size: '188x188', class: 'product-image'
        .product-price
          ¥
          = product.price.to_s(:delimited)
    .product-box__description
      %span 
        = product.name