.new-product
  .logo-header
    %h1
      = link_to root_path, class: 'header-link' do
        = image_tag '/assets/logo.svg', alt: 'mercari', class: 'header-logo', height: '49', width: '185'

  =render "./registrations/sub-footer"