= render 'shared/main-header'

.search-container
  .search-side
    .search-sort
      .form-group
        .select-wrap
          .icon
          %select.select-order
    .search-content
  .search-main a

= render 'shared/sell-button'
= render 'shared/main-footer'