= render 'main-header'
%section.item-box-container.l-single-container
  %h1.item-name
    テスト
  %p.item-wording
    
  .item-main-content.clearfix

  .item-price-box 

  .item-buy-btn

  .item-description
  
  .item-button-container.clearfix

= render 'main-footer'